<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Blog
  </h2>
  <form class="edit-blog-form">
    <div>
      <input name="blog-title" type="text" value="{{blog.title}}" />
      <textarea
        name="blog-body"
        type="text"
        value="{{blog.blog_body}}"
      ></textarea>
    </div>
    <div>

      <a href="/blog/{{blog.id}}">{{blog.comments.length}}
        {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <button type="submit">Save blog</button>
    <button type="button" class="delete-blog-btn">Delete Blog</button>
  </form>
</article>
<script src="/javascript/add-blog.js"></script>